src/flows/Pill_Taker-6.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>NewPillId_Assignement</name>
        <label>NewPillId_Assignement</label>
        <locationX>332</locationX>
        <locationY>344</locationY>
        <assignmentItems>
            <assignToReference>NewPillId_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewPillId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPillId.Unique_Flow_Identifier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UniqueId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Upload_Picture</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NewPillId_First</name>
        <label>NewPillId_First</label>
        <locationX>329</locationX>
        <locationY>106</locationY>
        <assignmentItems>
            <assignToReference>NewPillId.Predicted_Drug_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NewPillIdCreate</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>IdentifyPillSelection</name>
        <dataType>String</dataType>
        <value>
            <stringValue>IdentifyPill</stringValue>
        </value>
    </constants>
    <constants>
        <name>TakePillSelection</name>
        <dataType>String</dataType>
        <value>
            <stringValue>TakePill</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Has_Rx</name>
        <label>Has Rx</label>
        <locationX>558</locationX>
        <locationY>332</locationY>
        <defaultConnector>
            <targetReference>Cannot_Find_Rx</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Found_Rx</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewPillId.My_Prescription__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Rx</targetReference>
            </connector>
            <label>Found Rx</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Process</name>
        <label>What Process</label>
        <locationX>130</locationX>
        <locationY>210</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>TakePill</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WhatProcessSelected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TakePillSelection</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Take_Pill_Now</targetReference>
            </connector>
            <label>TakePill</label>
        </rules>
        <rules>
            <name>IdentifyPill</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WhatProcessSelected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>IdentifyPillSelection</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NewPillId_First</targetReference>
            </connector>
            <label>IdentifyPill</label>
        </rules>
    </decisions>
    <formulas>
        <name>CreatedDate</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Your Pills {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Your Pills</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>NewPillIdCreate</name>
        <label>New Pill Id Create</label>
        <locationX>332</locationX>
        <locationY>208</locationY>
        <connector>
            <targetReference>NewPillId_Assignement</targetReference>
        </connector>
        <inputReference>NewPillId</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Find_Rx</name>
        <label>Find Rx</label>
        <locationX>752</locationX>
        <locationY>106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Results</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewPillId.My_Prescription__c</elementReference>
            </value>
        </filters>
        <object>My_Prescription__c</object>
        <outputReference>MyRx</outputReference>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>NewPillId_Second</name>
        <label>NewPillId_Second</label>
        <locationX>555</locationX>
        <locationY>215</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Rx</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewPillId_Id</elementReference>
            </value>
        </filters>
        <object>Pill__c</object>
        <outputReference>NewPillId</outputReference>
        <queriedFields>Predicted_Drug_Name__c</queriedFields>
        <queriedFields>My_Prescription__c</queriedFields>
        <queriedFields>Is_This_My_Pill__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <screens>
        <name>Cannot_Find_Rx</name>
        <label>Cannot Find Rx</label>
        <locationX>562</locationX>
        <locationY>468</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CannotFindRx</name>
            <extensionName>visionflows18:scriptDisplayFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>callscript</name>
                <value>
                    <stringValue>This is not your pill.</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>FinalPage</assignToReference>
                <name>callscript</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Results</name>
        <label>Results</label>
        <locationX>755</locationX>
        <locationY>239</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FinalPageMessage</name>
            <extensionName>visionflows18:scriptDisplayFSCsuccess</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>GoToPrescription</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;A HREF=&quot;https://pillidentifier18-dev-ed.lightning.force.com/lightning/r/My_Prescription__c/{!NewPillId.My_Prescription__c}/view&quot; TARGET=&quot;_blank&quot;&gt;&lt;B&gt;Go to Your Prescription&lt;/B&gt;&lt;/A&gt;&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Take_Pill_Now</name>
        <label>Take Pill Now</label>
        <locationX>126</locationX>
        <locationY>345</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TakePillNow</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;A HREF=&quot;https://pillidentifier18-dev-ed.lightning.force.com/lightning/o/My_Prescription__c/list?filterName=00B1J000005Or5kUAC&quot; TARGET=&quot;_blank&quot;&gt;&lt;B&gt;Go to My Prescriptions&lt;/B&gt;&lt;/A&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Upload_Picture</name>
        <label>Upload Picture</label>
        <locationX>555</locationX>
        <locationY>108</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>NewPillId_Second</targetReference>
        </connector>
        <fields>
            <name>ImageMagic</name>
            <extensionName>visionflows18:EinsteinVision_Pill_Uploader_Flow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>NewPillId_Id</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Welcome</name>
        <label>Welcome</label>
        <locationX>129</locationX>
        <locationY>96</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>What_Process</targetReference>
        </connector>
        <fields>
            <name>WelcomeOptions</name>
            <extensionName>visionflows18:Lightning_Flow_Tiles</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>NavigateAction</name>
                <value>
                    <stringValue>Next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>NumberOfBlocks</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Image1</name>
                <value>
                    <stringValue>identifyPillC</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Title1</name>
                <value>
                    <stringValue>Identify a Pill</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Value1</name>
                <value>
                    <elementReference>IdentifyPillSelection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Image2</name>
                <value>
                    <stringValue>takePill</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Title2</name>
                <value>
                    <stringValue>Take a PIll</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Value2</name>
                <value>
                    <elementReference>TakePillSelection</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>WhatProcessSelected</assignToReference>
                <name>SelectedTileValue</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Welcome</startElementReference>
    <variables>
        <name>FinalPage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>myPrescription</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>My_Prescription__c</objectType>
    </variables>
    <variables>
        <name>MyRx</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>My_Prescription__c</objectType>
    </variables>
    <variables>
        <name>NewPillId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pill__c</objectType>
    </variables>
    <variables>
        <name>NewPillId_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>pillID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UniqueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WhatProcessSelected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
